/* Browser reset. */
*{
    padding:0;
    margin: 0;
}

/* General formatting. */
body, div, p, span, input, textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
}
.sr-only { /* screen reader only. */
    display: none;
}
.push-left {
    float: left;
    margin-right: 0.25em;
}
.push-right {
    float: right;
    margin-left: 0.25em;
}

/** Toolbar. */
.tool-bar {
    background: #ba6700;
    color: #fff;
    line-height: 2.5em;
    padding: 1em;
}
.tool-bar h1 {
    font-weight: bold;
    font-size: 2em;
}

#wrapper {
    margin: 1em;
}
.block {
    margin-bottom: 10px;
}
.block:after {
    clear: both;
    content: " ";
    display: table;
}


/** Notes. */
.notes-entry {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #f5d889;
    border-radius: 0.5em;
    background-color: #f5edc9;
    padding: 0.5em;
}
.notes-entry-cell {
    flex: 1 100%;
    padding: 0.25em;
}
.notes-entry-title {
    font-weight: bold;
}
@media all and (min-width: 600px) {
    .notes-entry-date, .notes-entry-importance, .notes-entry-finished, .notes-entry-action {
        flex: 1 0 auto;
        flex-basis: 45%;
    }
    .notes-entry-title, .notes-entry-content {
        flex: 1 0 auto;
        flex-basis: 95%;
    }
}
@media all and (min-width: 800px) {
    .notes-entry-date, .notes-entry-importance, .notes-entry-finished, .notes-entry-action {
        flex: 1 0 auto;
        flex-basis: 10%;
    }
    .notes-entry-title, .notes-entry-content {
        flex: 1 0 auto;
        flex-basis: 70%;
        max-width: 70%;
    }
    .notes-entry-date { order: 1 }
    .notes-entry-title { order: 2 }
    .notes-entry-importance { order: 3 }
    .notes-entry-finished { order: 4 }
    .notes-entry-content { order: 5 }
    .notes-entry-action { order: 6 }
}

/** filter bar. */
.sort-criterias input[type=radio] {
    display: none;
}

/** visibilty switcher. */
.visibility-switcher input[type=checkbox] {
    display: none;
}
.visibility-switcher label {
    display: block;
    overflow: hidden;
    /* wrap: no-wrap; -> breaks flex layout */
    text-overflow: ellipsis;
    height: 20px;
    transition: height 0.25s;
}
.visibility-switcher input:checked ~ label {
    text-overflow: initial;
    height: 150px;
    transition: height 0.25s;
    white-space: normal;
    overflow: auto;
}

/** edit form. */
.edit-row {
    padding: 2px 0 2px 0;
}
.edit-row:after {
    clear: both;
    content: " ";
    display: table;
}
.edit-label {
    display: inline-block;
    width: 200px;
    float: left;
}
.edit-area {
    float: left;
}
.input-field-full {
    width: 400px;
}
.input-field {
    border: 1px solid #999;
}
.button {
    border: 1px solid #aaa;
    padding: 2px;
    background: #eee;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.input-field:focus, .button:focus {
    border-color: #3679ba;
}
.input-field:hover, .button:hover {
    border-color: #7EB3CB;
}

/** importance selection. */
.importance-selection {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: flex;
}
.importance-selection input[type=radio] {
    display: none;
}
.importance-selection label {
    font-family: 'Symbola', sans-serif;
    color: #ccc;
}
.importance-selection label:before
{
    content: "\26A1";
    display: inline-block;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
.importance-selection input:checked ~ label {
    color: #f5b301;
}
div.importance-selection label:hover,
.importance-selection label:hover,
.importance-selection label:hover ~ label {
    color: #ec2c34;
}
