/**
 * TODO: general: apply styleguide style order
 * TODO: general: split up coloring / structure
 */

/* Browser reset. */
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

/* General formatting. */
body, div, p, span, input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.sr-only { /* screen reader only. */
    display: none;
}
.push-left {
    float: left;
    margin-right: 0.25em;
}
.push-right {
    float: right;
    margin-left: 0.25em;
}

/** Navigation. */
.nav {
    height: 4em;
    padding: 1em;
    background: #ba6700;
    color: #fff;
}
.nav .title {
    float: left;
    font-size: 2em;
    font-weight: bold;
}
.nav .actions {
    float: right;
}
.nav .actions > div, .nav .actions > a {
    float: left;
}
.nav .actions > div:before, .nav .actions > a:before {
    content: " ";
    margin-left: 0.25em;
}

.footer {
    margin-top: 2em;
    text-align: center;
}

#wrapper {
    margin: 1em;
}
.block {
    margin-bottom: 10px;
}
.block:after {
    clear: both;
    content: " ";
    display: table;
}

/** Button. */
.button {
    border: 0.1em solid #aaa;
    margin: 0.1em;
    border-radius: 0.25em;
    padding: 0.25em;
    background: #e5ddda;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.button:hover {
    margin: 0;
    border: 0.2em solid #ba6700;
}

/** Notes. */
.notes-entry {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #f5d889;
    border-radius: 0.5em;
    background-color: #f5edc9;
    padding: 0.5em;
}
.notes-entry-cell {
    flex: 1 100%;
    padding: 0.25em;
    box-sizing: border-box;
 }
.notes-entry-title {
    font-weight: bold;
}
@media all and (min-width: 600px) {
    .notes-entry-date, .notes-entry-importance, .notes-entry-finished, .notes-entry-action {
        flex: 1 0 auto;
        flex-basis: 45%;
    }
    .notes-entry-title, .notes-entry-content {
        flex: 1 0 auto;
        flex-basis: 95%;
    }
}
@media all and (min-width: 1024px) {
    .notes-entry-date, .notes-entry-importance, .notes-entry-finished, .notes-entry-action {
        flex: 1 1 auto;
        flex-basis: 12.5%;
    }
    .notes-entry-title, .notes-entry-content {
        flex: 1 1 auto;
        flex-basis: 75%;
        max-width: 75%;
    }
    .notes-entry-date { order: 1 }
    .notes-entry-title { order: 2 }
    .notes-entry-importance { order: 3 }
    .notes-entry-finished { order: 4 }
    .notes-entry-content { order: 5 }
    .notes-entry-action { order: 6 }
}

/** filter bar. */
.sort-criterias input[type=radio] {
    display: none;
}

/** visibilty switcher. */
.visibility-switcher input[type=checkbox] {
    display: none;
}
.visibility-switcher label {
    display: block;
    overflow: hidden;
    /* wrap: no-wrap; -> breaks flex layout */
    text-overflow: ellipsis;
    height: 20px;
    transition: height 0.25s;
}
.visibility-switcher input:checked ~ label {
    text-overflow: initial;
    height: 150px;
    transition: height 0.25s;
    white-space: normal;
    overflow: auto;
}

/** edit form. */
.edit-row {
    padding: 2px 0 2px 0;
}
.edit-row:after {
    clear: both;
    content: " ";
    display: table;
}
.edit-label {
    display: inline-block;
    width: 200px;
    float: left;
}
.edit-area {
    float: left;
}
.input-field-full {
    width: 400px;
}
.input-field {
    border: 1px solid #999;
}
.input-field:focus, .button:focus {
    border-color: #3679ba;
}
.input-field:hover, .button:hover {
    border-color: #7EB3CB;
}

/** importance selection. */
.importance-selection {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: flex;
}
.importance-selection input[type=radio] {
    display: none;
}
.importance-selection label {
    font-family: 'Symbola', sans-serif;
    color: #ccc;
}
.importance-selection label:before
{
    content: "\26A1";
    display: inline-block;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
.importance-selection input:checked ~ label {
    color: #f5b301;
}
div.importance-selection label:hover,
.importance-selection label:hover,
.importance-selection label:hover ~ label {
    color: #ec2c34;
}

/**
 * Modal dialog.
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
/* The modal content box. */
.modal-block {
    background-color: #fff;
    margin: auto;
    border: 1px solid #888;
    max-width: 80%;
}
.modal-block .title {
    width: 100%;
    padding: 0.5em;
    font-weight: bold;
    background-color: #ba6700;
    color: #fff;
}
.modal-block .close {
    float: right;
    color: #999;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #999;
    background: #fff;
    border-radius: 0.25em;
    width: 1.25em;
    height: 1.25em;
    text-align: center;
}
.modal-block .close:hover,
.modal-block .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    border-color: #000;
}
.modal-block .content {
    padding: 1em;
}