/**
 * Rules:
 * - Default design is for minimal screens (< 400px)
 * - Two alternatives designs for bigger screens (<1024px, greater)
 */

/* Browser reset. */
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**
 * Variable definitions.
 */

/* Generic definitions / Global. */
body {
    --default-space: 0.25em;
    --default-input-full-width: 100%;
    --input-border-color: rgb(145, 145, 145);

    /* Brown. */
    --main-color-dark-brown: rgb(135, 88, 35);
    --main-color-darker-brown: rgb(186, 103, 0);
    --main-color-default-brown: rgb(197, 156, 55);
    --main-color-lighter-brown: rgb(245, 216, 137);
    --main-color-light-brown: rgb(245, 237, 201);
    --button-background-brown: rgba(197, 156, 55, 0.2);
    --button-background-active-brown: rgba(197, 156, 55, 0.4);
    --focus-border-color-brown: var(--main-color-dark-brown);
    --focus-border-shaddow-brown: 0 0 10px rgb(197, 156, 55);

    /* Blue. */
    --main-color-dark-blue: rgb(32, 83, 135);
    --main-color-darker-blue: rgb(87, 122, 186);
    --main-color-default-blue: rgb(119, 156, 197);
    --main-color-lighter-blue: rgb(161, 210, 245);
    --main-color-light-blue: rgb(217, 237, 245);
    --button-background-blue: rgba(0, 84, 128, 0.2);
    --button-background-active-blue: rgba(0, 84, 128, 0.4);
    --focus-border-color-blue: var(--main-color-dark-blue);
    --focus-border-shaddow-blue: 0 0 10px rgb(119, 156, 197);

    /* Green. */
    --main-color-dark-green: rgb(32, 135, 87);
    --main-color-darker-green: rgb(44, 186, 87);
    --main-color-default-green: rgb(96, 197, 102);
    --main-color-lighter-green: rgb(182, 245, 144);
    --main-color-light-green: rgb(209, 245, 202);
    --button-background-green: rgba(96, 197, 102, 0.2);
    --button-background-active-green: rgba(96, 197, 102, 0.4);
    --focus-border-color-green: var(--main-color-dark-green);
    --focus-border-shaddow-green: 0 0 10px rgb(96, 197, 102);

    /* Red. */
    --main-color-dark-red: rgb(135, 21, 28);
    --main-color-darker-red: rgb(186, 59, 67);
    --main-color-default-red: rgb(197, 92, 94);
    --main-color-lighter-red: rgb(245, 167, 154);
    --main-color-light-red: rgb(245, 229, 226);
    --button-background-red: rgba(197, 92, 94, 0.2);
    --button-background-active-red: rgba(197, 92, 94, 0.4);
    --focus-border-color-red: var(--main-color-dark-red);
    --focus-border-shaddow-red: 0 0 10px rgb(197, 92, 94);
}

/** Style specific definitions. */
.brown-style {
    --main-color-dark: var(--main-color-dark-brown);
    --main-color-darker: var(--main-color-darker-brown);
    --main-color-default: var(--main-color-default-brown);
    --main-color-lighter: var(--main-color-lighter-brown);
    --main-color-light: var(--main-color-light-brown);
    --button-background: var(--button-background-brown);
    --button-background-active: var(--button-background-active-brown);
    --focus-border-color: var(--focus-border-color-red);
    --focus-border-shadow: var(--focus-border-shaddow-brown);
}

.blue-style {
    --main-color-dark: var(--main-color-dark-blue);
    --main-color-darker: var(--main-color-darker-blue);
    --main-color-default: var(--main-color-default-blue);
    --main-color-lighter: var(--main-color-lighter-blue);
    --main-color-light: var(--main-color-light-blue);
    --button-background: var(--button-background-blue);
    --button-background-active: var(--button-background-active-blue);
    --focus-border-color: var(--focus-border-color-blue);
    --focus-border-shadow: var(--focus-border-shaddow-blue);
}

.green-style {
    --main-color-dark: var(--main-color-dark-green);
    --main-color-darker: var(--main-color-darker-green);
    --main-color-default: var(--main-color-default-green);
    --main-color-lighter: var(--main-color-lighter-green);
    --main-color-light: var(--main-color-light-green);
    --button-background: var(--button-background-green);
    --button-background-active: var(--button-background-active-green);
    --focus-border-color: var(--focus-border-color-green);
    --focus-border-shadow: var(--focus-border-shaddow-green);
}

.red-style {
    --main-color-dark: var(--main-color-dark-red);
    --main-color-darker: var(--main-color-darker-red);
    --main-color-default: var(--main-color-default-red);
    --main-color-lighter: var(--main-color-lighter-red);
    --main-color-light: var(--main-color-light-red);
    --button-background: var(--button-background-red);
    --button-background-active: var(--button-background-active-red);
    --focus-border-color: var(--focus-border-color-red);
    --focus-border-shadow: var(--focus-border-shaddow-red);
}

/** Media type specific definitions. */
@media all and (min-width: 400px) {
    body {
        --full-input-width: 100%;
    }
}

@media all and (min-width: 1024px) {
    body {
        --full-input-width: 400px;
    }
}

/**
 * General formatting.
 */

/* Positioning. */
body, div, p, span, input, textarea, select, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.sr-only { /* screen reader only. */
    display: none;
}

.push-left {
    float: left;
    margin-right: var(--default-space);
}

.push-right {
    float: right;
    margin-left: var(--default-space);
}

/* Button elements. */
@keyframes img-button-color-change-in {
    from {
        background-color: var(--button-background)
    }
    to {
        background-color: var(--button-background-active)
    }
}

button.img-button, button.sort-button, button.filter-button {
    transition: all 0.1s ease-in;
    background-color: var(--button-background);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-sizing: border-box;
}

button.img-button:hover, button.sort-button:hover, button.filter-button:hover {
    border: 2px solid var(--focus-border-color);
    background-color: var(--button-background-active);
    box-shadow: var(--focus-border-shadow);
}

button.img-button {
    font-size: 1.3em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
}

button.img-button:before {
    font-size: 0.8em;
}

.img-button-add:before {
    content: "+";
}

.img-button-save:before {
    content: "\2713  ";
}

.img-button-delete:before {
    content: "\2715  ";
}

.img-button-edit:before {
    content: "\270e  ";
}

.img-button-revert:before {
    content: "\21B6  ";
}

.img-button-checked:before {
    content: "\2611";
}

.img-button-unchecked:before {
    content: "\2610";
}

/**
 * Navigation.
 */
.nav {
    padding: 0.5em;
    background: var(--main-color-darker);
    color: #fff;
}

.nav:after {
    clear: both;
    content: " ";
    display: table;
}

.nav .title {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
}

.nav .actions {
    float: right;
}

.nav .actions > div, .nav .actions > a {
    float: left;
}

.nav .actions > div, .nav .actions > button {
    margin-left: var(--default-space);
}

.change-color-box {
    line-height: 0.5em;
    width: 2.1em;
}

.change-color-box button {
    display: table-cell;
    font-size: 0.6em;
    line-height: 0.6em;
    margin-bottom: var(--default-space);
}

#change-style-blue {
    background-color: var(--main-color-default-blue);
}

#change-style-brown {
    background-color: var(--main-color-default-brown)
}

#change-style-green {
    background-color: var(--main-color-default-green)
}

#change-style-red {
    background-color: var(--main-color-default-red)
}

/**
 * Footer.
 */
.footer {
    margin-top: 2em;
    text-align: center;
}

/**
 * Content
 */
#wrapper {
    margin: 0.5em;
}

.block {
    margin-bottom: 10px;
}

.block:after {
    clear: both;
    content: " ";
    display: table;
}

/**
*Big create Note Button if nothing is there.
*/
#create-note-whitespace{
    width: 50%;
    padding: 2.5em;
    margin: 10% 25%;
}

/**
 * Sort and filtering.
 */
#filter-bar {
    line-height: 2em;
}

.sort-button, .filter-button {
    font-size: 0.7em;
    padding: 0.2em;
    height: 2em;
    width: 7em;
}

.sort-button:before, .filter-button:before {
    font-size: 0.7em;
}

.sort-inactive.sort-asc:before {
    content: "\25B3  ";
}

.sort-inactive.sort-desc:before {
    content: "\25BD  ";
}

.sort-active.sort-asc:before {
    content: "\25B2  ";
}

.sort-active.sort-desc:before {
    content: "\25BC  ";
}

.filter-active:before {
    content: "\2611  ";
}

.filter-inactive:before {
    content: "\2610  ";
}

/**
 * Input elements.
 */
.input-field {
    border: 1px solid var(--input-border-color);
    padding: 0.2em;
    font-size: 1em;
}

input.input-field {
    height: 1.5em;
}

.input-field:focus, .input-field:hover {
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-border-shadow);
}

.input-field-full {
    width: var(--default-input-full-width);
}

.button {
    border: 0.1em solid #aaa;
    margin: 0.1em;
    border-radius: 0.25em;
    padding: 0.1em;
    background: #e5ddda;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.button:hover {
    margin: 0;
    border: 0.2em solid #ba6700;
}

/** Notes. */
.notes-entry {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid var(--main-color-lighter);
    background-color: var(--main-color-light);
    padding: 0.25em;
}

.notes-entry-cell {
    flex: 1 100%;
    padding: 0.25em;
    box-sizing: border-box;
}

.notes-entry-title {
    font-weight: bold;
}

.notes-entry-date, .notes-entry-importance, .notes-entry-finished, .notes-entry-action {
    flex: 1 0 auto;
    flex-basis: 45%;
}

.notes-entry-title, .notes-entry-content {
    flex: 1 0 auto;
    flex-basis: 95%;
}

.notes-entry-action {
    text-align: right;
}

.notes-entry-footer {
    text-align: right;
    font-style: italic;
    font-size: 0.6em;
}

@media all and (min-width: 1024px) {
    .notes-entry-date, .notes-entry-importance, .notes-entry-finished, .notes-entry-action {
        flex: 1 1 auto;
        flex-basis: 12.5%;
    }

    .notes-entry-title, .notes-entry-content {
        flex: 1 1 auto;
        flex-basis: 75%;
        max-width: 75%;
    }

    .notes-entry-date {
        order: 1
    }

    .notes-entry-title {
        order: 2
    }

    .notes-entry-importance {
        order: 3
    }

    .notes-entry-finished {
        order: 4
    }

    .notes-entry-content {
        order: 5
    }

    .notes-entry-action {
        order: 6
    }

    .notes-entry-footer {
        order: 7
    }
}

/** filter bar. */
.sort-criterias input[type=radio] {
    display: none;
}

/** visibilty switcher. */
.visibility-switcher input[type=checkbox] {
    display: none;
}

.visibility-switcher label {
    display: block;
    overflow: hidden;
    /* wrap: no-wrap; -> breaks flex layout */
    text-overflow: ellipsis;
    height: 20px;
    transition: height 0.25s;
}

.visibility-switcher input:checked ~ label {
    text-overflow: initial;
    height: 150px;
    transition: height 0.25s;
    white-space: normal;
    overflow: auto;
}

/** edit form. */
.edit-row {
    padding: 2px 0 2px 0;
}

.edit-row:after {
    clear: both;
    content: " ";
    display: table;
}

.edit-label {
    display: inline-block;
    width: 200px;
    float: left;
}

.edit-area {
    float: left;
}

/** importance selection. */
.importance-selection {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: flex;
}

.importance-selection input[type=radio] {
    display: none;
}

.importance-selection label {
    font-family: 'Symbola', sans-serif;
    color: #ccc;
}

.importance-selection label:before {
    content: "\26A1";
    display: inline-block;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    height: 18px;
    width: 18px;
}

.importance-selection input:checked ~ label {
    color: #f5b301;
}

div.importance-selection-editable label:hover,
.importance-selection-editable label:hover,
.importance-selection-editable label:hover ~ label {
    color: #ec2c34;
    cursor: pointer;
}
